<!--  <ul>
  <div class="row">
    <div ng-repeat="art in artistas" class="col-sm-4">
        <div class="letra">
          <div >
            <div class="containner1">
              <img src="{{art[2]}}" class="img-rounded" width="150" height="150" />
            </div>
            <div class="containner2">
               <p><strong>Nome do Artista:</strong></p>
               <p>{{art[0]}}</p>
               <div ng-repeat="albs in art[1]">
               <p><strong>Nome do Álbum:</strong></p>
               <p>{{albs[0]}} - {{albs[1]}}</p>
               <p><strong>Lista de músicas:</strong></p>
               <div ng-repeat="musis in albs[2]">
               <p>{{musis[0]}} - {{musis[1]}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
  </ul> -->

<form class="form linha">

  <div class="coluna3">
    <div class="form-group espaçamento">
      <label class="musica" for="musica">Nome da Música:</label>
      <input type="text" class="form-control" id="text" placeholder="Digite o nome da música" ng-model="musica.nome">
      <label class="artista" for="artista">Nome do Artista:</label>
      <input type="text" class="form-control" id="text" placeholder="Digite o nome do artista" ng-model="musica.artista">
      <label class="album" for="album">Nome do Álbum:</label>
      <input type="text" class="form-control" id="text" placeholder="Digite o nome do álbum" ng-model="musica.album">
      <label class="lançamento" for="duraçao">Ano de Lançamento:</label>
      <input type="text" class="form-control" id="text" placeholder="Digite o ano de lançamento" ng-model="musica.ano">
      <label class="duracao" for="duraçao">Duração da Música:</label>
      <input type="text" class="form-control" id="text" placeholder="Digite a duração da música" ng-model="musica.duracao">
    </div>
  </div>
  {{musica}}
  {{albuns}}
  <button type="enviar" class="btn" ng-click="addMusica(musica)" ng-disabled="!musica.nome || !musica.artista || !musica.album || !musica.ano || !musica.duracao">Adicionar</button>
  <button type ="reset" class="btn" value="Limpar">Limpar</button>
</form>