/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
  color: #FF6600;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.btn{
	color: black;

}
button{
  padding: 10px 0 0 15px;
}

.btn:hover{
	color: #330000;
	background-color: #FA8072;
}
.name{
	color: #FA8072;
}

.linha{
	width: 960px;
	margin: auto;
	padding: 5px;
	color: #FA8072;
}

.coluna{
  width: 460px;
  float: left;
}

.coluna3{
  width: 460px;
}

.coluna1{
  width: 480px;
  float: right;
  padding-bottom: 20px;
  padding-left: 50px;
}

.letra{
  color: #FA8072 !important;
  float: right;
}

.colorModal{
  color: #FA8072;
  padding: 12px;
}

.pesquisa{
  float: right;
  padding: 8px;

}

.logo{
  font-size: 45px;
  font-family: 'Dancing Script', cursive !important;
}

.img-logo{
  width: 45px;
  float: left;
  padding-right: 5px;
}

a{
  color: #FFFFFF;
}

a:hover{
  color: #000000;
}

.background-body{
  background: #FFE4C4 !important;
  color: #FFE4C4 !important;
}

label, input{
  padding: 20px 0px 5px 0px;
}

.containner1{
  float: left;
  padding: 10px 10px 10px 60px;
}

.containner2{
  float: right;
}
.col-sm-4 {
  background-color: #FFEFD5;
  margin-left: 175px;
  text-align: center;
  border-style: ridge;
  border-color: #FFFFFF;
  border-width: thick;
}

.modalLista{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 5px;
 }

 .botaoModal {
  width: 150;
  margin-top: 5px;
 }

