<div class="pesquisa">
	<form class="form-inline">
	  <label for="pesquisa"></label>
	  <input type="text" class="form-control" id="email" placeholder="O que deseja pesquisar?" ng-model="pesquisa">
	  <button class="btn btn-default" type="submit" ng-click="buscarArtista()" data-toggle="modal" data-target="#product_view"><i class="fa fa-search">
	  <i class="glyphicon glyphicon-search"></i>
	  </form>
</div>

<form class="form linha" >
	<div class="coluna">
	  <div class="form-group">
	    <label class="name" for="artista">Nome do Artista:</label>
	    <input type="text" class="form-control" id="text" placeholder="Digite o nome do artista" ng-model="artista">
	  	<label class="img" for="img">Link da imagem do artista:</label>
		<input type="text" ng-model="img" class="form-control" id="text" placeholder="Cole aqui o link da imagem" ng-model="img">
	 </div>
	 <button type="enviar" ng-click="addArtista()" class="btn">Enviar</button>
	 </div>
  

  	<div class="coluna1">
  		<h2>Artista(s) adicionado(s):</h2>
  		<p>{{artista}}</p>
  	</div>


  <!-- <button href="#!/view2" type="adionar musica" class="btn">Adicionar Música</button> -->
</form>

<div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content colorModal">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Descrição</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="http://img.bbystatic.com/BestBuy_US/images/products/5613/5613060_sd.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Nome do artista: {{procura}}</h4>
                        <h4>Última Música: {{ultimaMusica}}</h4>
	   					<h4>Nota: {{nota}}</h4>
                        
                       
                        <div class="space-ten"></div>
                        <div class="btn-ground">
	   						<input type="ultimaMusica" nome="ultimaMusica" class="form-control" id="text" placeholder="Última música tocada" ng-model="ultimaMusica">
	   						<BR></BR>
	   						<input type="nota" nome="nota" class="form-control" id="text" placeholder="Nota do artista" ng-model="nota">
	   						<BR></BR>
                            <button type="button" class="btn" ng-click="addFavoritos()"><span class="glyphicon glyphicon-heart"></span> Adicionar aos favoritos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="linha" ng-show="haFavoritos()">
	<h2>Lista de Favoritos</h2>
	<div class="containner">
	   <h4>Nome do Artista: {{art[0]}}</h4>
	   <button type="excluir" class="btn btn-default" ng-click="removeFavoritos(art[0])">Remover</button>
	</div>	
</div>