<div class="pesquisa">
	<form class="form-inline">
	  <label for="pesquisa"></label>
	  <input type="text" class="form-control" id="text" placeholder="O que deseja pesquisar?" ng-model="artistaBuscado">
	  <button class="btn btn-default" type="enviar" ng-click="buscarArtista(artistaBuscado)" data-toggle="modal" data-target="#product_view"><i class="fa fa-search">
	  	
	  <i class="glyphicon glyphicon-search"></i>
	  </form>
</div>


<div>
	
<form class="form linha">
	<div class="coluna">
			  <div class="form-group">
			    <label class="name" for="artista">Nome do Artista:</label>
			    <input type="text" class="form-control" id="text" placeholder="Digite o nome do artista" ng-model="artista.nome">
			  	<label class="img" for="img">Link da imagem do artista:</label>
				<input type="text" ng-model="artista.imagem" class="form-control" id="text" placeholder="Cole aqui o link da imagem">
			 </div>
			 <button type="enviar" ng-click="addArtista(artista)" class="btn">Enviar</button>
	 </div>
		  
	 	<div class="row">
	 		<div class="div_esquerda">
			  	
			  		<h2>Lista de Artistas:</h2>
			  		<p ng-repeat="artistaAdicionado in artistas">
			  		<a href="" class="colorLink" ng-click="" data-toggle="modal" data-target="#product_view">{{artistaAdicionado.nome}}</a>
	  				</p>
	  
	  			
	  		</div>
	  		<div class="div_direita">
	  			
			  		<h2>Lista de favoritos:</h2>
			  		<p ng-repeat="favorito1 in favoritos">
	  				<a href="" class="colorLink" ng-click="" data-toggle="modal" data-target="#modalFavorito">{{favorito1.nome}}</a>
	  				</p>
	  
	  			
	  		</div>	
  		</div>  	


	  <!-- <button href="#!/view2" type="adionar musica" class="btn">Adicionar Música</button> -->
</form>
</div>
	<div class="modal fade product_view" id="product_view">
	    <div class="modal-dialog">
	        <div class="modal-content colorModal">
	            <div class="modal-body">
	            	<div ng-show="mostraBusca">

	            		<h3 style="text-align: center">Artistas Buscados</h3>
						<table class="table table-stried">
							<tr>
								<th>
									<h4>Nome</h4>
								</th>
								<th>
									<h4>Adicionar aos favoritos</h4>
								</th>
							</tr>
							<tr ng-repeat="artista1 in buscados">
								<td><button class="btn" ng-click="mostraArtista1(artista1)">{{artista1.nome}}</button></td>
								<td><button class="btn" ng-click="addFavoritos(artista1)">Add</button></td>
							</tr>	
						</table>
 					</div>

 					<div ng-show="mostraArtista">
 						<div class="row">
 							<div class="col-lg-6">
 								<img style="width: 250px; height: 250px" ng-src="{{artistaSelecionado.imagem}}">
 							</div>
 							<div class="col-lg-6">
 								<h4>Nome:</h4>
 								{{artistaSelecionado.nome}}
 								<h4>Última música ouvida:</h4>
 								{{artistaSelecionado.ultimaMusica}}
 								<h4>Nota:</h4>
 								{{artistaSelecionado.nota}}
								<!--<div class="dropdown">
			                        <button style="width: 120px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Álbuns<span class="caret"></span></button>
			                         <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			                           <li style="text-align: center" ng-repeat="albumModal in artistaModal.albuns">{{albumModal.nome}}</li>
			                         </ul>
                    			</div>-->
 							</div>
 						</div>
 					</div>
	            </div>
	            <div class="modal-footer" ng-show="mostraArtista">	
	            	<div class="row">
	            		<div class="col-lg-6">
							<input style="width: 255px" type="nota" nome="nota" class="form-control" id="text" placeholder="Nota do artista" ng-model="nota">
							
							<button type="button" class="botaoModal btn btn-blocked" ng-click="addNota(nota)"> Atribuir nota</button>  
						</div>
	            		<div class="col-lg-6">
		            		<input style="width: 255px" type="ultimaMusica" nome="ultimaMusica" class=" form-control" id="text" placeholder="Última música tocada" ng-model="ultimaMusica">

		            		<button type="button" class="botaoModal btn btn-blocked" ng-click="atribuiUltimaMusica(ultimaMusica)"> Última música tocada</button>  
		            	</div>
					</div>          	
	            </div>
	        </div>
	    </div>
	</div>

	<div class="modal fade product_view" id="modalFavorito">
	    <div class="modal-dialog">
	        <div class="modal-content colorModal">
	            <div class="modal-body">
	            	<div ng-show="mostraBusca">

	            		<h3 style="text-align: center">Artista Favorito</h3>
						<table class="table table-stried">
							<tr>
								<th>
									<h4>Nome</h4>
								</th>
								<th>
									<h4>Excluir</h4>
								</th>
							</tr>
							<tr ng-repeat="artistaFavorito in favoritos">
								<td><button class="btn" ng-click="mostraArtista1(artistaFavorito)">{{artistaFavorito.nome}}</button></td>
								<td><button class="btn" ng-click="excluirFavorito(artistaFavorito)">Sim</button></td>
							</tr>	
						</table>
 					</div>

 					<div ng-show="mostraArtista">
 						<div class="row">
 							<div class="col-lg-6">
 								<img style="width: 250px; height: 250px" ng-src="{{artistaSelecionado.imagem}}">
 							</div>
 							<div class="col-lg-6">
 								<h4>Nome:</h4>
 								{{artistaSelecionado.nome}}
 								<h4>Última música ouvida:</h4>
 								{{artistaSelecionado.ultimaMusica}}
 								<h4>Nota:</h4>
 								{{artistaSelecionado.nota}}
 								<!--<div class="dropdown">
			                        <button style="width: 120px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Álbuns<span class="caret"></span></button>
			                         <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			                           <li style="text-align: center" ng-repeat="albumModal in artistaModal.albuns">{{albumModal.nome}}</li>
			                         </ul>
                    			</div>-->
 							</div>
 						</div>
 					</div>
	            </div>
	            <div class="modal-footer" ng-show="mostraArtista">	
	            	<div class="row">
	            		<div class="col-lg-6 form-group">
							<input style="width: 255px" type="nota" nome="nota" class="form-control" id="text" placeholder="Nota do artista" ng-model="nota">
							
							<button type="button" class="botaoModal btn btn-blocked" ng-click="addNota(nota)">Atribuir nota</button>  
						</div>
	            		<div class="col-lg-6 form-group">
		            		<input style="width: 255px" type="ultimaMusica" nome="ultimaMusica" class=" form-control" id="text" placeholder="Última música tocada" ng-model="ultimaMusica">

		            		<button type="button" class="botaoModal btn btn-blocked" ng-click="atribuiUltimaMusica(ultimaMusica)"> Última música</button>  
		            	</div>
		            	
					</div>
					
	            </div>
	        </div>
	    </div>
	</div>

	<div class="linha" ng-show="haFavoritos()">
		<h2>Lista de Favoritos</h2>
		<div class="containner">
		   <h4>Nome do Artista: {{art[0]}}</h4>
		   <button type="excluir" class="btn btn-default" ng-click="removeFavoritos()">Remover</button>
		</div>	
		
	</div>